@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

@{
    ViewBag.Title = "HelloWorld";
}

<h2>HelloWorld</h2>

<table border="1">
@for (int i = 0; i < ViewBag.UserList.Count; i++)
{
    <tr>
        <td>@ViewBag.UserList[i].UserID</td>
        <td>@ViewBag.UserList[i].Name</td>
        <td>@ViewBag.UserList[i].Address</td>
    </tr>
}
</table>